<div> Inspector </div>

<% if (__no_model) { %>
  <div>
    Nothing to inspect.
  </div>
<% } else { %>
  <h5> Position </h5>

  <div class="row">
    <div class="col-sm-6">
      <div> x </div>
      <input type="text" data-prop="x" data-type="int" class="property-dynamic" value="<%= x %>" />
    </div>
    <div class="col-sm-6">
      <div> y </div>
      <input type="text" data-prop="y" data-type="int" class="property-dynamic" value="<%= y %>" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div> Width </div>
      <input type="text" data-prop="width" data-type="int" class="property-dynamic" value="<%= width %>" />
    </div>
    <div class="col-sm-6">
      <div> Height </div>
      <input type="text" data-prop="height" data-type="int" class="property-dynamic" value="<%= height %>" />
    </div>
  </div>

  <h5> Content </h5>

  <div class="row">
    <div class="col-sm-12">
      <div> URL </div>
      <input type="text" data-prop="url" data-type="string" class="property" value="<%= url %>" />
    </div>
  </div>
<% } %>